{% extends "base.html" %}

{% block nav_button_translator %}-outline{% endblock %}
{% block nav_button_trainer %}{% endblock %}
{% block content %}
<!-- Main Content -->
<main class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trainer">Your Decks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Deck</li>
        </ol>
    </nav>


    <form method="POST" id="mainForm">
        <input type="hidden" name="action" value="">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">Create Deck</h1>
            <button class="btn btn-success" type="button" onclick="submitForm('save')">Save</button>
        </div>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div class="mb-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <label class="col-form-label fw-semibold">Name:</label>
                </div>
                <div class="col">
                    <input style="font-size: large;" type="text" name="deck_name"
                        value="{% if deck_name %}{{ deck_name }}{% endif %}" class="form-control"
                        placeholder="Deck Name (input here)" aria-label="deck_name" onchange="submitForm('save_name')">
                </div>
            </div>
        </div>

        <div class="mb-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <label class="col-form-label fw-semibold">Languages:</label>
                </div>
                <div class="col">
                    <div style="font-size: large;" class="form-control bg-white">
                        {% if s_langs %}{{s_langs_text}}
                        {% else %}<span style="opacity: 75%;">Select languages (below)</span>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="card shadow-sm mb-4">
            <div class="card-header">
                Available languages:
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="row row-cols-2 row-cols-md-3 g-2">
                        {% for lang in langs %}
                        <div class="form-check">
                            <input name="selected_langs" class="form-check-input" type="checkbox"
                                id="check{{ loop.index }}" value="{{ lang }}" {% if lang in s_langs %}checked{% endif %}
                                onchange="submitForm('save_langs')">
                            <label class="form-check-label" for="check{{ loop.index }}">
                                {{ lang }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<script>
    function submitForm(action) {
        document.querySelector('input[name="action"]').value = action;
        document.getElementById('mainForm').submit();
    }
</script>

{% endblock %}