{% extends "base.html" %}

{% block nav_button_translator %}-outline{% endblock %}
{% block nav_button_trainer %}{% endblock %}
{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trainer">Your Decks</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">{{ name }}</h1>
        <div>
            <form method="post">
                <div class="btn-group">
                    <button class="btn btn-secondary" style="font-size: large;" type="submit" name="action"
                        value="edit"><i class="bi bi-pencil-square"></i> Edit
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" type="submit" name="action" value="export"><i
                                    class="bi bi-file-earmark-arrow-down"></i> Export
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="submit" name="action" value="delete"><i
                                    class="bi bi-trash-fill"></i> Delete
                            </button>
                        </li>
                    </ul>
                </div>
                <a href="{{ url_for('train', deck=deck_path) }}" class="btn btn-success" type="button"
                    style="font-size: large;">
                    <i class="bi bi-play-fill"></i> Train
                </a>
            </form>
        </div>
    </div>

    <h4 class="mb-3">
        <small class="text-body-secondary">Languages in this deck:</small>
        {{ langs_text }}
    </h4>
    <h4 class="mb-3">
        <small class="text-body-secondary">Number of cards:</small>
        {{ n_cards }}
    </h4>


    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">Progress</h4>
            <div class="progress-stacked">
                {% for n in range(5) %}
                <div class="progress" role="progressbar" aria-label="Segment {{ n }}" aria-valuenow="{{ progress[n] }}"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{ progress[n] }}%">
                    <div class="progress-bar bg-step-{{ n }}">{{ n_box[n] }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr class="mt-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for card in cards %}
        <div class="col">
            <div class="card h-100" id="card-{{ loop.index0 }}-container">
                <div
                    class="card-header d-flex justify-content-between align-items-center py-1 bg-step-{{ card.box - 1 }}">
                    <span class="badge" style="font-size: large;">{{ loop.index }}.</span>
                    <form method="post">
                        <div>
                            <button class="btn btn-dark" type="submit" name="delete_card" value="{{ loop.index }}"
                                style="font-size: larger; line-height: 1;"><i class="bi bi-trash-fill"></i></button>
                            <button class="btn btn-light" type="button"
                                hx-get="{{ url_for('card_edit_partial', deck=deck_path, card=loop.index0) }}"
                                hx-target="#card-{{ loop.index0 }}-container" hx-swap="outerHTML"
                                style="font-size: larger; line-height: 1;" title="Edit Card">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <ul class="list-group list-group-flush">
                    {% for lang, result in card.card_row.items() %}
                    <li class="list-group-item">
                        <small class="text-muted text-uppercase">{{ lang }}</small><br>
                        {{ result }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not cards %}
    <div class="alert alert-info mt-4">
        No cards in this deck yet. <a href="{{ url_for('translator', deck=name + '.csv') }}">Add some cards</a>
        using
        the
        Translator!
    </div>
    {% endif %}

</div>
{% endblock %}