{% extends "base.html" %}

{% block nav_button_translator %}-outline{% endblock %}
{% block nav_button_trainer %}{% endblock %}
{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trainer">Your Decks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Import Deck</li>
        </ol>
    </nav>

    <h1 class="mb-4">Import your deck</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>

    {% if no_langs %}
    <div class="alert alert-danger mt-4">There are no langs the deck could work with so you can't really do nothing
        with
        this.</div>
    {% endif %}

</div>
{% endblock %}